body {
 background: #fafafa;
}

label {
    font-size: .8em;
}

input.form-control {
    border-radius: 0px;
}

.small-text {
    font-size: .5em;
}

section.complete-address {
    padding: 0px;
    margin: 0px;
/*    visibility: hidden;
    height: 0px;*/
}

header {
    background: #fff;
    z-index: 1000;
}

.progress {
    /*background: red;*/
}

.progress-bar {
    position: fixed;
    margin-top: 50px;
    width: 100%;
    height: 20px;
    background: #42A194;
    z-index: 1000;
}
.has-success {
    color: red;
}

.contact-info,
.cc-info,
.order-info {
    padding: 10px;
    /*border: 2px dashed #B6C89B;*/
    max-width: 750px;
    /*border-radius: 5px;*/
    margin-bottom: 50px;
    background: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
    /*color: #302F2A;*/
}

.submit-form {
    max-width: 720px;
    display: block;
    margin: 0 auto;
}

input.btn {
    border-radius: 0px;
    /*background-color: green;*/
    background-image: none;
    width: 50;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}

.order-review {
    padding-top: 100px;
}

.order-item {
    margin-bottom: 20px;
}



input:-webkit-autofill {
    background-color: #baefd2 !important;
}

@media screen and (max-width: 450px) {
  .order-review {
    padding-top:  10px;
  }
  .order-info {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}